@tailwind base;
@tailwind components;
@tailwind utilities;

@layer {
  @font-face {
    font-family: 'Alexana';
    font-style: normal;
    font-weight: 100 900;
    src:
      local('Alexana'),
      url('/fonts/alexana.otf') format('opentype');
  }

  @font-face {
    font-family: 'Rubik Dirt Display';
    font-style: normal;
    font-weight: 100 900;
    src:
      local('Rubik Dirt Display'),
      url('/fonts/RubikDirt-Regular.ttf') format('truetype');
  }

  @font-face {
    font-family: 'Punk Cyber Extrude';
    font-style: normal;
    font-weight: 100 900;
    src:
      local('Punk Cyber Extrude'),
      url('/fonts/PunkCyberDemoExtrude.ttf') format('truetype');
    font-display: swap;
  }

  @font-face {
    font-family: 'Punk Cyber Outline';
    font-style: normal;
    font-weight: 100 900;
    src:
      local('Punk Cyber Outline'),
      url('/fonts/PunkCyberDemoOutline.ttf') format('truetype');
    font-display: swap;
  }

  @font-face {
    font-family: 'Punk Cyber Regular';
    font-style: normal;
    font-weight: 100 900;
    src:
      local('Punk Cyber Regular'),
      url('/fonts/PunkCyberDemoRegular.ttf') format('truetype');
    font-display: swap;
  }

  *,
  *::after,
  *::before {
    box-sizing: border-box;
  }
}

nav.mobile-navigate.menu {
  transform: translateY(0px) translateX(0px);
  transition: transform 400ms ease 0s;
}

.instagram-gradient:hover {
  background: radial-gradient(
    circle at 30% 107%,
    #fdf497 0%,
    #fdf497 5%,
    #fd5949 45%,
    #d6249f 60%,
    #285aeb 90%
  );
}

button.say-hello {
  transition: all 550ms cubic-bezier(0.36, 0.63, 0.5, 0.73);
}

div.skills-container {
  transform: rotateX(51deg) rotateZ(49deg);
}

div.portfolio-scroll {
  height: calc(var(--app-height) - 310px);
}

div.portfolio-scroll::-webkit-scrollbar {
  width: 0.45rem;
}

div.portfolio-scroll::-webkit-scrollbar-track {
  background-color: #141414;

  /* Change the box shadow */
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
}

div.portfolio-scroll::-webkit-scrollbar-thumb {
  /* Change the background color */
  background-color: rgba(228, 239, 232, 1);

  /* Change the size of the thumb */
  height: 30px;
  width: 30px;
  border-radius: 10px;
}

img.project-image {
  transform: translate3d(0px, 0px, 0px) scale3d(1, 1, 1) rotateX(0deg)
    rotateY(0deg) rotateZ(0deg) skew(0deg, 0deg);
  transform-style: preserve-3d;
}

div.loading_animation {
  animation: loading-animation 5s linear infinite;
  border-radius: 35%;
  width: 6rem;
  height: 6rem;
}

div.loading_animation::after {
  content: '';
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 10rem;
  height: 10rem;
  border-radius: 50%;
  border: 6px solid;
  border-color: #505960 transparent;
}

@keyframes loading-animation {
  0% {
    transform: scale(1) rotate(360deg);
  }

  50% {
    transform: scale(0.65) rotate(-360deg);
  }

  100% {
    transform: scale(1) rotate(360deg);
  }
}

@media screen and (min-width: 100px) and (max-width: 768px) {
  div.portfolio-scroll {
    height: calc(var(--app-height) - 220px);
    scroll-snap-align: center;
  }
}
