@tailwind base;
@tailwind components;
@tailwind utilities;

@import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&display=swap");

@layer {
  @font-face {
    font-family: "Rubik Dirt Display";
    font-style: normal;
    font-weight: 100 900;
    src: local("Rubik Dirt Display"), url("../assets/fonts/RubikDirt-Regular.ttf") format("truetype");
  }

  :root {
    --app-height: 100%;
  }

  html {
    height: 100%;
  }

  *,
  *::after,
  *::before {
    box-sizing: border-box;
  }

  .app {
    height: 100vh;
    height: var(--app-height);
    backface-visibility: hidden;
  }

  body.dark {
    --color-primary: #0ce5b5;
    --color-secondary: #67c2e2;
    --color-tertiary: #13152c;
    --color-background: #13142b;
    --color-text-main: #eaeaea;
    --color-text-secondary: #6b7280;
  }

  body.light {
    --color-primary: #0ce5b5;
    --color-secondary: #67c2e2;
    --color-tertiary: #13152c;
    --color-background: #fcfcfe;
    --color-text-main: #101010;
    --color-text-secondary: #6b7280;
  }

  body {
    color: var(--color-text-main);
    background-color: var(--color-background);
    scroll-behavior: smooth;
    margin: 0;
  }
}
