@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Titillium+Web:ital,wght@0,200;0,300;0,400;0,600;0,700;1,300;1,400;1,600;1,700&display=swap');

:root {
  --app-height: 100%;
  user-select: none;
}

*,
::after,
::before {
  box-sizing: border-box;
  border: 0 solid #e2e8f0;
}

html {
  height: 100%;
  scroll-behaviour: smooth;
}

div.main-app {
  height: 100vh;
  height: var(--app-height);
  backface-visibility: visible;
  overflow: hidden;
  background-size: cover;
  transition: background-image 0.4s ease-in-out;
  background-repeat: no-repeat;
  font-family: 'Lato';
}
