@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Titillium+Web:ital,wght@0,200;0,300;0,400;0,600;0,700;1,300;1,400;1,600;1,700&display=swap');

:root {
  --app-height: 100%;
  user-select: none;
}

*,
::after,
::before {
  box-sizing: border-box;
  border: 0 solid #e2e8f0;
}

html {
  height: 100%;
}

div.main-app {
  height: 100vh;
  height: var(--app-height);
  backface-visibility: visible;
  overflow: hidden;
  background-size: cover;
  transition: background-image 0.4s ease-in-out;
  background-repeat: no-repeat;
  font-family: 'Lato';
}

nav.mobile-navigate.menu {
  transform: translateY(0px) translateX(0px);
  transition: transform 400ms ease 0s;
}

div.instagram-gradient:hover {
  background: radial-gradient(
    circle at 30% 107%,
    #fdf497 0%,
    #fdf497 5%,
    #fd5949 45%,
    #d6249f 60%,
    #285aeb 90%
  );
}

button.say-hello {
  transition: all 550ms cubic-bezier(0.36, 0.63, 0.5, 0.73);
}
